/* & This will import the desired font */
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

/* & ----------------------- */

/* & This will style the font for the entire webpage */
* {
    /* ~ This will make the "width" and "height" include padding and border, instead of adding them on top */
    box-sizing: border-box;
}

/* & ----------------------- */

/* & This will style the default appearance of the entire webpage */
body {
    background-color: #393a64;
    color: #f4f5f1;
    width: 100%;
    height: 100vh;
    font-family: "Poiret One";
    letter-spacing: 0.1em;
    font-weight: 400;
    line-height: 1.5;
    /* ~ This will remove the default broswer spacing */
    padding: 0;
    margin: 0;
}

/* & ----------------------- */

/* & This will style the elements in the header section of the webpage */
header {
    margin-top: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-img {
    width: 200px;
    height: 230px;
    border: 5px solid #d5ffc0;
    padding: 10px;
}

/* ~ This will style the <hr> element -> the horizontal line or dividing line will become a vertical divider */
.vertical-divider {
    width: 10px;
    height: 200px;
    background: linear-gradient(#d5ffc0 35%, #d17 75%) no-repeat;
    margin: 10px;
}

h1 {
    border-bottom: 5px solid #d5ffc0;
    font-weight: 400;
    padding-bottom: 8px;
}

/* ~ This will style the <hr> element -> the horizontal line or dividing line that will divide header section*/
.header-divider {
    height: 10px;
    width: 98%;
    background: linear-gradient(90deg, #d5ffc0 35%, #d17 75%)no-repeat;
}

sub-heading > p {
    text-align: center;
    border-bottom: 5px solid #d5ffc0;
    width: 30%;
    padding: 10px;
    margin: auto;
}

h2 {
    text-align: center;
    font-weight: 400;
}

/* ~ This will style the <hr> element -> the horizontal line or dividing line that will follow the title of each section */
.title-divider {
    width: 30%;
    height: 10px;
    background: linear-gradient(90deg, #d5ffc0 35%, #d17 75%)no-repeat;
}

li {
    list-style-position: inside;
    list-style-type: square;
    /* text-align: center; */
    margin: 20px;
}

/* ~ This will style the markers for the <li> element */
li::marker {
    font-size: 1.3em;
    color: #ff49c1;
}

/* & ----------------------- */

/* ~ This will style the Nav Bar */
.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

a {
    color: #f4f5f1;
    text-decoration: none;
}

nav > ul > li {
    list-style-type: none;
}

.nav-list {
    border-bottom: 5px solid #d5ffc0;
    padding-bottom: 10px;
}

/* ~ This will style the <hr> element -> the horizontal line or dividing line that will divide each section, header, main, & footer */
.section-divider {
    height: 10px;
    width: 95%;
    background: linear-gradient(90deg, #d5ffc0 35%, #d17 75%)no-repeat;
}

/* & ----------------------- */

/* & This will style the elements in the main section of the webpage */
main {
    width: 95%;
    /* position: relative; */
    /* top: 133px; */
}

/* ~ This will style the <hr> element -> the horizontal line or dividing line that will divide the main section */
.main-divider {
    height: 10px;
    width: 100%;
    background: linear-gradient(90deg, #d5ffc0 35%, #d17 75%)no-repeat;
    margin-left: 25px;
}

/* ~ This will style the imgs in the main element ex-22.html file */
.main-img {
    margin: 10px;
}

/* ~ This will style the elemets in the notification section */
#notification {
    background-color: #d5ffc0;
    color: black;
    width: 30%;
    text-align: center;
    /* position: relative; */
    /* position: absolute; */
    top: 10px;
    left: 5%;
    padding: 10px;
    margin: auto;
}

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~ This will style the elements in the story section */
#story-section > p {
    /* text-align: center; */
    margin: 20px;
    margin-left: 40px;
}

#story-image {
    max-width: 100%;
    max-height: 250px;
    border: 5px solid #d5ffc0;
    padding: 10px;
    margin-left: 35%;
}

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~ This will style the elements in the services section */
#services-section > p {
    /* text-align: center; */
    margin: 20px;
    margin-left: 40px;
}

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~ This will style the elements in the contact us section */
#contact-section > p {
    margin: 20px;
    margin-left: 40px;
}

form {
    width: max-content;
    text-align: center;
    border: 5px solid #d5ffc0;
    padding: 10px;
    margin: auto;
}

input[type="email"] {
    width: 500px;
    height: 40px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

input[type="submit"] {
    background-color: #d5ffc0;
    width: 100px;
    height: 40px;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

/* & ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* & This will style the elements in the footer section of the webpage */
footer {
    margin: 20px;
}

.footer-img {
    width: 200px;
    height: 230px;
    border: 5px solid #d5ffc0;
    padding: 10px;
    margin-bottom: 20px;
}
